@import url();

@font-face {
    font-family: 'Panthera';
    src: url(../font/panthera/PantheraRegular-MVZ9J.ttf);
}
@font-face {
    font-family: 'Beyno';
    src: url(../font/beyno/BEYNO.ttf);
}
@font-face {
    font-family: 'Wakanda4ever';
    src: url(../font/wakanda/Wakanda4Ever-gxg5p.ttf);
}
@font-face {
    font-family: 'Cantarell';
    src: url(../font/cantarell/Cantarell-Regular.ttf);
}
:root{
    --white-color: #FFFFFF;
    --gradient-white: #F2CEF2; 
    --light-blue: #9E91B7;
    --lighter-blue: #DF99F2;
    --blue-color: #3D2DA6;
    --blue-color2: #07338C;
    --purple-color: #021740;
}
*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Panthera';
    font-size: 56px;
    font-weight: 400;
    color: var(--light-blue);
}
h5{
    font-family: 'Beyno';
    font-size: 28px;
    font-weight: 200;
    color: var(--light-blue);
}
p{
    font-family: 'Cantarell';
    font-size: 16px;
    font-weight: 100;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: var(--purple-color);
    background-image: url(../ASSETS/IllustrationsLogo/Allpages/arrière_plan.png);
    background-repeat: no-repeat;
    background-position: 600px 160px;
    background-size:cover;
    color: white;
    font-family: 'Cantarell';
    font-weight: 200;
    border: none;
}
/*Design of navigation */ 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Beyno';
    
}
ul{
    list-style: none;
    color: #FFFFFF;
    
}
.haut{
    display: flex;
}
/*Design of section black panther */ 
#panther{
    margin-top: 150px;
}
/*Design of section black panther */ 

.origin-content{
    display: flex;
    width: 50%;

}
.description{
    text-align: justify;
    font-size: smaller;
    width: 40%;
}



/*Design of  Footer */
.footer-item{
    display: flex;
    margin-top: 100;
}
.item1{
    margin-right: 200px;
    margin-left:100px;
    position: static;
}

.item1a{
    position:sticky;
}
.copyright{
    text-align: right;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: medium;
    padding: 8px;
    background: var(--blue-color);
    

}
.whitebtn{
    background: var(--white-color);
    height: 400px;
    color: black;
    
    
}
.text{
    padding: 10px;
    font-size: smaller;
    
}
.text .titre{
    text-align: center;
